<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="MyConnectionString" 
					connectionString="Data Source=.\SqlServer;Initial Catalog=CleanArchitectureApplicationDb;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>